<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.dmn.cpska">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CpsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/appName"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/appTitle"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".ui.competition.CompetitionActivity"
            android:label="@string/appTitle"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".ui.flight.FlightActivity"
            android:label="@string/appTitle"
            android:screenOrientation="userPortrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="269380dbc21494c053f8cb3fb3370cd395bd4f82" />

    </application>

</manifest>